<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Repositories</h2>
        <hr class="mb-4"> </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form class="form-group filter-form" method="get" action="<%= collection_path(@collection) %>">
          <div class="input-group">
            Keywords&nbsp;
            <span class="show-popover" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="AND search with the entered Names, Authors, Categories, Licenses and Descriptions. (If same column values are specified, evaluate by OR)">
              <i class="fa fa-question-circle"></i>
            </span>
          </div>
          <div class="input-group">
            <ul class="form-control tag-keywords"><li style="visibility: hidden"></li></ul>
          </div>
          <div class="input-group mt-2">
            <button class="btn btn-primary" href="#">Apply</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="lead text-nowrap"><%= "#{@collection.author} / #{@collection.name} (#{@repositories_count} / #{@repositories_total_count})" %>&nbsp;
        <a target="_blank" rel="noopener" href="<%=@setting.url%>"><i class="fa fa-external-link"></i></a>
        </p>
      </div>
      <div class="col-md-8">
        <%= paginate @repository_paginate %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th class="text-nowrap">Name
                  <%= link_to(
                      content_tag(:i, "", class: create_sort_icon_class("name", @param_order, @param_direction)), 
                      collection_path(@collection, @param_permitted.merge(create_next_sort_params("name", @param_order, @param_direction)))) %>
                </th>
                <th class="text-nowrap">Author
                  <%= link_to(
                      content_tag(:i, "", class: create_sort_icon_class("author", @param_order, @param_direction)), 
                      collection_path(@collection, @param_permitted.merge(create_next_sort_params("author", @param_order, @param_direction)))) %>
                </th>
                <th class="text-nowrap">Categories</th>
                <th class="text-nowrap">License
                  <%= link_to(
                      content_tag(:i, "", class: create_sort_icon_class("license", @param_order, @param_direction)), 
                      collection_path(@collection, @param_permitted.merge(create_next_sort_params("license", @param_order, @param_direction)))) %>
                </th>
                <th class="text-nowrap">
                  <i class="fa fa-star"></i>
                  <%= link_to(
                      content_tag(:i, "", class: create_sort_icon_class("star", @param_order, @param_direction)), 
                      collection_path(@collection, @param_permitted.merge(create_next_sort_params("star", @param_order, @param_direction)))) %>
                </th>
                <th class="text-nowrap">Last updated
                  <%= link_to(
                      content_tag(:i, "", class: create_sort_icon_class("last_updated", @param_order, @param_direction)), 
                      collection_path(@collection, @param_permitted.merge(create_next_sort_params("last_updated", @param_order, @param_direction)))) %>
                </th>
                <th class="text-nowrap">Description</th>
              </tr>
            </thead>
            <tbody>
              <% @repositories.each do |repository| %>
                <tr>
                  <td>
                    <a target="_blank" rel="noopener" href="<%=repository.url%>"><i class="fa fa-external-link"></i></a>
                  </td>
                  <td class="table_cell_name"><%= repository.name %></td>
                  <td class="table_cell_author"><%= repository.author %></td>
                  <td class="table_cell_categories"><%= repository.categories.map{|c| c.title }.join(", ") %></td>
                  <td class="table_cell_license"><%= repository.license %></td>
                  <td><%= repository.star %></td>
                  <td><%= time_ago_in_words(repository.git_updated_at) %></td>
                  <td class="table_cell_description"><%= repository.description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 text-right">
        <%= paginate @repository_paginate %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "/autocomplete/#{@id}.js" %>
<%= javascript_tag "window.autocomplete_keywords = #{@param_keywords.to_json.html_safe};" %>