<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Repositories</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/css/jquery.tagit.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/js/tag-it.min.js' %>
  </head>

  <body>
    <div class="py-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="display-3">Awesome&nbsp;<i class="fa fa-github"></i>&nbsp;Repositories</h1>
            <p class="lead text-muted">Github repository collection search tool</p>
          </div>
        </div>
      </div>
    </div>
    
    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
